.client {
  flex-wrap: wrap;
  display: flex;
}
.client__title {
  padding-bottom: 50px;
}
.client__logo-pic-list {
  display: flex;
  gap: 30px;
}
.client__logo-picture {
  width: 170px;
  height: 92px;
}
.client__logo-pic-link:hover {
  border: 1px solid var(--design-color);
}
.client__logo-pic-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  content: "";
  background-size: contain;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  fill: #afb1b8;
}
.client__logo-pic-link:hover {
  fill: var(--design-color);
}