.button-conteiner {
  justify-content: center;
  text-align: center;

  display: block;
  background-color: #fff;
}
.flex-btn {
  text-align: center;
  margin-bottom: 34px;
}
.portfolio-btn {
  text-align: center;
  justify-content: center;
  display: flex;
}
.portfolio-btn__link {
  display: inline-block;
  border-radius: 4px;
  padding: 6px, 25px;
  font-family: "Roboto";
  margin-right: 8px;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  cursor: pointer;
  min-width: 73;
  border: none;
}
.portfolio-btn__link:hover {
  color: #ffffff;
}
.portfolio-btn__link:hover {
  background-color: var(--design-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn__link:focus {
  color: #ffffff;
}
.portfolio-btn__link:focus {
  background-color: var(--design-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



.set-conteiner {
  text-align: center;
}
.flex-conteiner {
  flex-wrap: wrap;
  display: flex;
  width: 1200px;
  /*outline: 1px solid red;*/
  padding: 0 15px;
  text-align: center;
  /*margin: -15px;*/
}
.projects__flex-el {
  /*margin: 15px;*/
  /* width: calc(100%  - 60%/ 3);*/
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects__img-cont {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  justify-content: start;
  transform: translatey(100%);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__hover-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
}
.projects__card-port {
  border: 1px solid #eeeeee;
  border-top: 0;
  text-align: start;
  padding: 20px 24px;
}
.projects__overlay-link:hover .projects__overlay {
  transform: translatey(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.projects__card-conteiner {
  width: 370px;
  height: 404px;
}
.projects__flex-el:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__flex-el:nth-child(3n) {
  margin-right: 0;
  margin-top: 0;
}
.projects__flex-el:nth-child(n + 7) {
  margin-bottom: 0;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
}
.project__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

